*{
    padding: 10px;
}

.subject__football{
    font-size: xx-large ;
    font-style: italic;
} 
.subject__football p {
    font-size: 18px ;
    font-style: normal;
}
.subject__handball{
    font-size: xx-large;
    font-style: italic;
}
.subject__handball p{
    font-size: 18px ;
    font-style: normal;
}
.subject__basketball{
    font-size: xx-large;
    font-style: italic;
}
.subject__basketball p {
    font-size: 18px ;
    font-style: normal;
}
.subject__tennis{ 
    font-size: xx-large;
    font-style: italic;
}
.subject__tennis p{
    font-size: 18px ;
    font-style: normal;
}
