.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 184, 136);
    background-position: 50px ;
    margin: -6px;
    
}
.nav__menu {
    display: flex;
    list-style-type: none;
    margin: 5px 70px;
    text-transform: capitalize ;
    font-size: larger;
    cursor: grab;
    
}
.nav__menu:hover{
    color: brown;
}

.nav__logo{
    color: black;
    text-decoration: none ;
    font-size:xx-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
}
 .nav__menu li{
    padding: 12px;
  }