.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 184, 136);
    background-position: 50px ;
    margin: -6px;
    
}
ul {
    display: flex;
    list-style-type: none;
    margin: 5px 70px;
    text-transform: capitalize ;
    font-size: larger;
    
    
}
.menu{
    cursor: grab;
}
.a:hover:hover{
    color: brown;
}
.logo{
    color: black;
    text-decoration: none ;
    font-size:xx-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
}

li {
    margin: 12px;
}
