.footer{
    padding: 0px;
    margin: 0px;
    background-color:  rgb(81, 184, 136);
  }
  .footer__email{
    font-size: 25px;
    font-style: italic;
    color: #333;
  }
  .footer__tel{
   font-style: italic;
   font-size: 25px; 
   color: #333;
  }
  .footer__location{
    font-style: italic;
    font-size: 25px;
    color: #333;
  }
  